<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CorazonDeCafeStockManager.App.SqlConnection" connectionString="Server=localhost;Database=CorazonDeCafe;Integrated Security=True;TrustServerCertificate=True;"
            providerName="" />
    </connectionStrings>
</configuration>